[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"

[dev-packages]
autopep8 = "*"
isort = "*"
pycodestyle = "*"
pylint = "*"
rope = "*"
pipenv-setup = "*"
g2p-en = {editable = true, path = "."}

[requires]
python_version = "3.8"
