[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"

[dev-packages]
g2p-en = {editable = true, path = "."}
autopep8 = "*"
isort = "*"
pycodestyle = "*"
pylint = "*"
rope = "*"

[requires]
python_version = "3.8"
